@charset "UTF-8";
* {
	box-sizing:border-box;
	margin-top: 0px;
}
body, html {
	width:100%;
	height:100%;
}
body {
	background-color: #000;
	color: #333;
	margin:0px;
	padding: 0px;
	display: flex;
	align-items: center;
}
.c-zone {
	position: relative;
	width:90%;
	max-width: 1400px;
	margin:0px auto;	
}

section {
	display: flex;
	align-items:stretch;
	min-height: 50%;
	width:100%;
	height:auto;
	padding:20px;
	position: relative;
}
section .c-zone {
	display: flex;
	justify-content: space-between;
}

.column {
	background-color: #888;
	border-radius: 20px;
	padding:50px;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
	margin:0px 10px;
}

@media only screen and (max-width: 959px) {
	section {
		min-height: 100%;
	}
	section .c-zone {
		flex-direction: column;
		align-content: space-between; 
	}
	.column {
		margin:10px 0px;
	}
}






