@charset "UTF-8";
* {
	box-sizing:border-box;
	margin-top: 0px;
}
body, html {
	width:100%;
	height:100%;
}
body {
	background-color: #000;
	color: #333;
	margin:0px;
	padding: 0px;
	min-height: 800px;
}
main {
	width:100%;
	height:100%;
	display: flex;
	align-items: center;
}
a {
	color:#fff;
	font-family: verdana, sans-serif;
	font-size:10px;
	text-shadow:1px 1px 10px rgba(0,0,0,.5);
	position:absolute;
	bottom:10px;
	right:20px;
}
.c-zone {
	position: relative;
	width:90%;
	max-width: 1400px;
	margin:0px auto;	
}

section {
	display: flex;
	align-items:stretch;
	min-height: 50%;
	width:100%;
	height:auto;
	padding:20px;
	position: relative;
}
section .c-zone {
	display: flex;
	justify-content: space-between;
}

.column {
	text-align:center;
	background-color: #FFF;
	border-radius: 30px;
	padding:10px;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
	margin:0px 30px;
	position:relative;
}

.column:nth-child(3){
	/*These background properties only work if auto is set to off in the plugin*/
	background-color: #fff;
	background-size: 100%;
	background-position:center;
	background-repeat: no-repeat;
	background-color:#333;
	/*These background properties only work if auto is set to off in the plugin*/
}

@media only screen and (max-width: 959px) {
	section {
		min-height: 100%;
	}
	section .c-zone {
		flex-direction: column;
		align-content: space-between; 
	}
	.column {
		margin:10px 0px;
	}
}
.gitlink {
	position:fixed;
	bottom:20px;
	right:20px;
	background-color:grey;
	padding:5px 20px;
	border-radius:10px;
	text-decoration:none;
	z-index:1;
}